name: task_notes_manager
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.9.2
  
dependencies:
  flutter:
    sdk: flutter
  
  # All packages below must be indented at the same level as 'flutter:'
  sqflite: ^2.3.0
  path: ^1.8.3
  shared_preferences: ^2.0.0 
  cupertino_icons: ^1.0.8
  sqflite_common_ffi_web: ^0.4.1 # Add this line
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^5.0.0
  
flutter:
  uses-material-design: true